/*路由组件样式文件*/

.actionBtns {
  margin-bottom: 16px;
}

.sign {
  margin: 15vh auto;
  .signForm {
    background: rgba(0,0,0,.1);
    min-height: 400px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 7%;
    border-bottom-right-radius: 27%;
  }
}