.col {
  margin: 10px 0;
  .img {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .card {
    text-align: center;
  }
}

.modal2Doc {
  padding: 1% 0;
  text-transform: capitalize;
  session {
    margin: 5px;
    p {
      text-indent: 2em;
    }
  }
}